[user]
	email = 9432238+binbsoffn@users.noreply.github.com
	name = binbsoffn
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
    prompt = false
[credential]
	helper = cache --timeout=36000
[core]
	excludesFile = ~/.gitignore_global
[color]
	ui = auto
