[submodule ".vim/plugged/vim-plug"]
	path = .vim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "/home/olli/.fzf"]
	path = /home/olli/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".config/awesome/awesome-buttons"]
	path = .config/awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule ".config/awesome/tyrannical"]
	path = .config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical.git
