[user]
	email = 9432238+binbsoffn@users.noreply.github.com
	name = binbsoffn
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
[diff]
	guitool = vim
[difftool "kdiff3"]
	trustExitCode = false
[credential]
	helper = cache --timeout=36000
